<!-- {{! main (homepage) 
    nav bar w HOME DASHBOARD LOGIN LOGOUT
    all existing blog posts }} -->

    <!-- HOME => Homepage w existing blog posts that show post title and date created -->

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tech Blog</title>
    
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"/>
    
        <link rel="stylesheet" href="/public/css/style.css">
    </head>
    
    <body>
      
        
        
        <div class="container">
           
    
            <h1>
                Tech Blog
            </h1>
    
    
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <div class="navbar-nav">
                    <a class="nav-link" href="">Home</a>
                    <a class="nav-link" href="">Dashboard</a>
                    <a class="nav-link" href="">Login</a>
                    <a class="nav-link" href="">Logout</a>
                </div>
            </div>
        </nav>
    
    
        
        <main class="col-auto">
            {{{body}}}
          </main>
    
    
    
    </div>
    
    
    <div class="mb-3">
        <!-- <label for="exampleFormControlInput1" class="form-label">Email address</label> -->
        <input type="text" class="form-control" id="post-title" placeholder="Post Title">
      </div>
      <div class="mb-3">
        <!-- <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label> -->
        <textarea type="text" class="form-control" id="post-text" rows="3" placeholder="Post Text"></textarea>
      </div>
      
      <button type="submit" class="button">Submit</button>

<br><br>

      <div class="mb-3">
        <label class="form-label">Email address</label>
        <input type="email" class="form-control" id="login-email" placeholder="name@example.com">
      </div>

      <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" id="login-password" placeholder="">
      </div>

      <button type="submit" class="button">Submit</button>






      </div>
    
        
    </body>
    </html>
    <script src="/public/js/script.js"></script>