  {{!-- <div class="mb-3">
        <!-- <label for="exampleFormControlInput1" class="form-label">Post Title</label> -->
        <input type="text" class="form-control" id="post-title" placeholder="Post Title">
      </div>
      <div class="mb-3">
        <!-- <label for="exampleFormControlTextarea1" class="form-label">Post Text</label> -->
        <textarea type="text" class="form-control" id="post-text" rows="3" placeholder="Post Text"></textarea>
      </div>
      
      <button type="submit" class="button">Submit</button>
      {{!-- SUBMIT NEW POST --}}




<script src="/public/js/script.js"></script> --}}