{{!-- <div class="mb-3">
        <label class="form-label">Email address</label>
        <input type="email" class="form-control" id="signup-email" placeholder="name@example.com">
      </div>

      <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" id="signup-password" placeholder="">
      </div>

      <button type="submit" class="btn" id="signup-btn" href="/dashboard">Submit</button>

      
</form> --}}

      <h2>SignUp</h2>

<form class="form login-form">
  <div class="form-group">
    <label for="email-login">email:</label>
    <input class="form-input" type="text" id="email-login" />
  </div>
  <div class="form-group">
    <label for="password-login">password:</label>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
</form>